{% extends 'base.html' %} {% block content %}
<div class="container">
    {% for question in questions %}
    <div class="card" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card-body">
            <p>{{ question.question_text }}</p>
            <audio controls>
                <source src="{{ question.audio.url }}" type="audio/mpeg" />
            </audio>
            <div class="mcq" id="{{ question.id }}">
                <div class="form-check" id="{{question.id}}">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="options{{question.id}}"
                        id="op1-{{question.id}}"
                        value="{{ question.option1 }}"
                    />
                    <label class="form-check-label" for="op1">
                        {{ question.option1 }}
                    </label>
                </div>
                <div class="form-check" id="{{question.id}}">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="options{{question.id}}"
                        id="op2-{{question.id}}"
                        value="{{ question.option2 }}"
                    />
                    <label class="form-check-label" for="op2">
                        {{ question.option2 }}
                    </label>
                </div>
                <div class="form-check" id="{{question.id}}">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="options{{question.id}}"
                        id="op3-{{question.id}}"
                        value="{{ question.option3 }}"
                    />
                    <label class="form-check-label" for="op3">
                        {{ question.option3 }}
                    </label>
                </div>
                <div class="form-check" id="{{question.id}}">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="options{{question.id}}"
                        id="op4-{{question.id}}"
                        value="{{ question.option4 }}"
                    />
                    <label class="form-check-label" for="op4">
                        {{ question.option4 }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <button onclick="onClick()" class="btn btn-primary">Submit</button>
</div>

<script>
    function onClick() {
        console.log("Clicked");
        let data = [];
        let qs = document.getElementsByClassName("mcq");
        for (let i = 0; i < qs.length; i++) {
            let q = qs[i];
            let id = q.id;
            let options = q.getElementsByClassName("form-check-input");
            let selected = null;
            for (let j = 0; j < options.length; j++) {
                let option = options[j];
                if (option.checked) {
                    selected = option.value;
                    break;
                }
            }
            data.push({
                id: id,
                selected: selected,
            });
        }
        data = JSON.stringify(data);
        let csrftoken = getCookie("csrftoken");
        fetch("/task2/", {
            method: "POST",
            body: data,
            headers: {
                Accept: "application/json, text/plain, */*",
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
        }).then((response) => {
            window.location.href = "/";
        });
    }
</script>

{% endblock %}
